*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #222327;
}
.navigation{
	position: relative;
	width: 400px;
	height: 60px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}
.navigation ul{
	display: flex;
	width: 350px;
}
.navigation ul li{
	list-style-type: none;
	position: relative;
	width: 70px;
	height: 60px;
}
.navigation ul li a{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
.navigation ul li a .icon{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 55px;
	height: 55px;
	text-align: center;
	line-height: 65px;
	border-radius: 50%;
	color: #222327;
	font-size: 1.5em;
	z-index: 2;
	transition: 0.5s;
	transition-delay: 0s;
}
.navigation ul li.active a .icon{
	background-color: var(--clr);
	color: #fff;
	transform: translateY(-27px);
	transition-delay: 0.25s;
}
.navigation ul li a .icon::before{
	content: '';
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--clr);
	border-radius: 50%;
	filter: blur(5px);
	opacity: 0;
	transition: 0.5s;
	transition-delay: 0s;
}
.navigation ul li.active a .icon::before{
	opacity: 0.5;
	transition-delay: 0.25s;

}
.indicator{
	position: absolute;
	top: -35px;
	width: 70px;
	height: 70px;
	background-color: #fff;
	border-radius: 50%;
	z-index: 1;
	transition: 0.5s;
}
.indicator::before{
	content: '';
	position: absolute;
	top: 5px;
	left: -28px;
	width: 30px;
	height: 30px;
	background-color: transparent;
	border-radius: 50%;
	box-shadow: 15px 18px #fff;
}
.indicator::after{
	content: '';
	position: absolute;
	top: 5px;
	right: -28px;
	width: 30px;
	height: 30px;
	background-color: transparent;
	border-radius: 50%;
	box-shadow: -15px 18px #fff;
}
.navigation ul li:nth-child(1).active ~ .indicator{
	transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator{
	transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator{
	transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator{
	transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator{
	transform: translateX(calc(70px * 4));
}